*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
}
.logoTodo{
  width: 90px;
  height: 165px;
  opacity: 100%;
  position: absolute;
  top: 74px;
  left: 638px;
}
.firstPageH1{
  color: white;
  width: 869px;
  height: 76px;
  font-size: 52px;
  position: absolute;
  top: 285px;
  left: 249px;
}
.firstPageButton{
  width: 388px;
  height: 98px;
  position: absolute;
  top: 510px;
  left: 489px;
  font-size: 48px;
  background-color: #5EFC8D;
  cursor: pointer;
}
.firstPageButton:hover{
  background-color: white;
}